%p= @note.title
%p= @note.content

= link_to "All notes", notes_path

- if user_signed_in?
	= link_to "Edit", edit_note_path(@note)
	= link_to "Delete", note_path(@note), method: :delete, confirm: "Are you sure?"